[submodule "LR1"]
	path = LR1
	url = https://github.com/qaip/garden-manager
[submodule "LR2"]
	path = LR2
	url = https://github.com/qaip/mno-clients
[submodule "LR3"]
	path = LR3
	url = https://github.com/qaip/arkanoid
