body {
  background-color: #f2f2f2; /* Replace with your desired background color */
}
.deleteByName{
    background-color: #f2f2f2;
}
.deleteBySport{
    background-color: #f2f2f2;
}
.deleteByMoney{
    background-color: #f2f2f2;
}