body,
html {
 width:100%;
 height:100%
}

body {
  margin:0;
  padding:0;
  background: white;
  color: #333333;
  font-family:Roboto;
  display: flex;
  flex-direction: column;
}

.contain{
    flex: 1 0 auto;
    margin-top: 80px;
}

a {
    text-decoration: none; 
    color: white;
}

.collapse{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

.site-header{
    position: fixed;
    width: 100%;
}
.nav-item{
    margin-right: 50px;
}
.footer {
    box-sizing: border-box;
    flex: 0 0 auto;
    background: #3F4137;
    padding: 5px;
    color: #aaa;
    font-size: 14px;
    font-family: Verdana, Geneva, Arial, Helvetica;
    text-align: center;
    overflow: hidden;
}
.footer a {
    text-decoration: underline;
    color: #aaa;
}

.more a{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 115%;
    text-align: center;
    outline: none;
    border: 0;
    padding: 12px 20px;
    background: teal;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 10%;
}

.student_table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.student_table td, .student_table th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.student_table tr:nth-child(even){background-color: #f2f2f2;}

.student_table tr::hover {background-color: #ddd;}

.student_table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: teal;
    color: white;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
    font-size: 20px;
    margin-bottom: 5px;
}

.errors{
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form{
    color: gray;
    width: 50%;
    margin-left: 4%;
}

.form-input, .content-input, .cat-choice{
    background: #FFFFFF;
    border: 1.6px solid #A2A2A2;
    box-sizing: border-box;
    width: 100%;
    min-height: 5px;
    font-size: 22.4px;
    line-height: 114%;
    padding: 15px;
    resize: none;
    outline: none;
    margin-bottom: 20px;
    font-weight: 300;
    border-radius: 10px;
}

.post-button{
    font-weight: 900;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 115%;
    text-align: center;
    outline: none;
    border: 0;
    padding: 12px 20px;
    background: teal;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 10%;
    margin-left: 4%;
}

.add-line{
    margin-left: 4%;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 290px);
}

.delete-dialog {
    padding: 10px;
    background-color: white;
}

.form-group{
    color: gray;
    margin-left: 4%;
}

.filter-form .form-group{
    color: gray;
    width: 50%;
    margin-left: 4%;
}

.form-control{
    background: #FFFFFF;
    border: 1.6px solid #A2A2A2;
    box-sizing: border-box;
    width: 100%;
    font-size: 22.4px;
    line-height: 114%;
    padding: 15px;
    resize: none;
    outline: none;
    margin-bottom: 20px;
    font-weight: 300;
    border-radius: 10px;
}

.list-pages {
    flex: 0 0 auto;
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 14px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	min-width: 2%;
	height: 2%;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}

.page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}